In [1]:
using DataFrames
using Random
using CSV

In [2]:
io = open("test.txt", "r")

IOStream(<file test.txt>)

In [3]:
read(io, String)

"Hello, world!\nThis is my demo file.\n\nHere is a poem I like:\n\nOzymandias\nPercy Bysshe Shelley\n\nI met a traveller from an antique land,\nWho said—“Two vast and trunkless legs of stone\nStand in the desert. . . . Near them, on the sand,\nHalf sunk a shattered visage lies, whos" ⋯ 183 bytes ⋯ "nd the heart that fed;\nAnd on the pedestal, these words appear:\nMy name is Ozymandias, King of Kings;\nLook on my Works, ye Mighty, and despair!\nNothing beside remains. Round the decay\nOf that colossal Wreck, boundless and bare\nThe lone and level sands stretch far away.”"

In [4]:
close(io)

In [5]:
io = open("test.txt", "r")

IOStream(<file test.txt>)

In [6]:
readlines(io)

22-element Vector{String}:
 "Hello, world!"
 "This is my demo file."
 ""
 "Here is a poem I like:"
 ""
 "Ozymandias"
 "Percy Bysshe Shelley"
 ""
 "I met a traveller from an antique land,"
 "Who said—“Two vast and trunkless legs of stone"
 "Stand in the desert. . . . Near them, on the sand,"
 "Half sunk a shattered visage lies, whose frown,"
 "And wrinkled lip, and sneer of cold command,"
 "Tell that its sculptor well those passions read"
 "Which yet survive, stamped on these lifeless things,"
 "The hand that mocked them, and the heart that fed;"
 "And on the pedestal, these words appear:"
 "My name is Ozymandias, King of Kings;"
 "Look on my Works, ye Mighty, and despair!"
 "Nothing beside remains. Round the decay"
 "Of that colossal Wreck, boundless and bare"
 "The lone and level sands stretch far away.”"

In [7]:
close(io)

In [8]:
# 'a' is "append mode". This allows us to append text to the bottom of the file. If we used 'w' for "write", it would
# overwrite existing text in the file.
io = open("test.txt", "a")

IOStream(<file test.txt>)

In [9]:
write(io, "\nHere is some more text.");

In [10]:
close(io)

In [11]:
path = "C:\\Users\\Alex\\Downloads\\iris.csv"
df = CSV.read(path, DataFrame)

150×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64       Float64      Float64       Float64      String15
─────┼──────────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  Iris-setosa
   2 │          4.9          3.0           1.4          0.2  Iris-setosa
   3 │          4.7          3.2           1.3          0.2  Iris-setosa
   4 │          4.6          3.1           1.5          0.2  Iris-setosa
   5 │          5.0          3.6           1.4          0.2  Iris-setosa
   6 │          5.4          3.9           1.7          0.4  Iris-setosa
   7 │          4.6          3.4           1.4          0.3  Iris-setosa
   8 │          5.0          3.4           1.5          0.2  Iris-setosa
   9 │          4.4          2.9           1.4          0.2  Iris-setosa
  10 │          4.9          3.1           1.5          0.1  Iris-setosa
  11 │          5.4          3.7           1.5          0.2  Iris-setosa
  ⋮  │      ⋮             ⋮            ⋮             ⋮             ⋮
 141 │          6.7          3.1           5.6          2.4  Iris-virginica
 142 │          6.9          3.1           5.1          2.3  Iris-virginica
 143 │          5.8          2.7           5.1          1.9  Iris-virginica
 144 │          6.8          3.2           5.9          2.3  Iris-virginica
 145 │          6.7          3.3           5.7          2.5  Iris-virginica
 146 │          6.7          3.0           5.2          2.3  Iris-virginica
 147 │          6.3          2.5           5.0          1.9  Iris-virginica
 148 │          6.5          3.0           5.2          2.0  Iris-virginica
 149 │          6.2          3.4           5.4          2.3  Iris-virginica
 150 │          5.9          3.0           5.1          1.8  Iris-virginica
                                                            129 rows omitted

In [12]:
describe(df)

5×7 DataFrame
 Row │ variable      mean     min          median  max             nmissing  e ⋯
     │ Symbol        Union…   Any          Union…  Any             Int64     D ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.84333  4.3          5.8     7.9                    0  F ⋯
   2 │ sepal_width   3.054    2.0          3.0     4.4                    0  F
   3 │ petal_length  3.75867  1.0          4.35    6.9                    0  F
   4 │ petal_width   1.19867  0.1          1.3     2.5                    0  F
   5 │ species                Iris-setosa          Iris-virginica         0  S ⋯
                                                                1 column omitted

In [13]:
# A general syntax for applying functions:
# source_columns => function_to_apply => target_column_name
# The target column can be the same as an existing column, or a new column

transform(df, [:sepal_length, :sepal_width] => (+) => :res)

150×6 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species         r ⋯
     │ Float64       Float64      Float64       Float64      String15        F ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  Iris-setosa       ⋯
   2 │          4.9          3.0           1.4          0.2  Iris-setosa
   3 │          4.7          3.2           1.3          0.2  Iris-setosa
   4 │          4.6          3.1           1.5          0.2  Iris-setosa
   5 │          5.0          3.6           1.4          0.2  Iris-setosa       ⋯
   6 │          5.4          3.9           1.7          0.4  Iris-setosa
   7 │          4.6          3.4           1.4          0.3  Iris-setosa
   8 │          5.0          3.4           1.5          0.2  Iris-setosa
   9 │          4.4          2.9           1.4          0.2  Iris-setosa       ⋯
  10 │          4.9          3.1           1.5          0.1  Iris-setosa
  11 │          5.4          3.7           1.5          0.2  Iris-setosa
  ⋮  │      ⋮             ⋮            ⋮             ⋮             ⋮           ⋱
 141 │          6.7          3.1           5.6          2.4  Iris-virginica
 142 │          6.9          3.1           5.1          2.3  Iris-virginica    ⋯
 143 │          5.8          2.7           5.1          1.9  Iris-virginica
 144 │          6.8          3.2           5.9          2.3  Iris-virginica
 145 │          6.7          3.3           5.7          2.5  Iris-virginica
 146 │          6.7          3.0           5.2          2.3  Iris-virginica    ⋯
 147 │          6.3          2.5           5.0          1.9  Iris-virginica
 148 │          6.5          3.0           5.2          2.0  Iris-virginica
 149 │          6.2          3.4           5.4          2.3  Iris-virginica
 150 │          5.9          3.0           5.1          1.8  Iris-virginica    ⋯
                                                   1 column and 129 rows omitted

In [14]:
function foobar(x,y)
    if y == "Iris-virginica"
        return x^2
    end
    return -1
end

transform(df, [:sepal_length, :species] => ByRow(foobar) => :res)

150×6 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species         r ⋯
     │ Float64       Float64      Float64       Float64      String15        R ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  Iris-setosa     - ⋯
   2 │          4.9          3.0           1.4          0.2  Iris-setosa     -
   3 │          4.7          3.2           1.3          0.2  Iris-setosa     -
   4 │          4.6          3.1           1.5          0.2  Iris-setosa     -
   5 │          5.0          3.6           1.4          0.2  Iris-setosa     - ⋯
   6 │          5.4          3.9           1.7          0.4  Iris-setosa     -
   7 │          4.6          3.4           1.4          0.3  Iris-setosa     -
   8 │          5.0          3.4           1.5          0.2  Iris-setosa     -
   9 │          4.4          2.9           1.4          0.2  Iris-setosa     - ⋯
  10 │          4.9          3.1           1.5          0.1  Iris-setosa     -
  11 │          5.4          3.7           1.5          0.2  Iris-setosa     -
  ⋮  │      ⋮             ⋮            ⋮             ⋮             ⋮           ⋱
 141 │          6.7          3.1           5.6          2.4  Iris-virginica  4
 142 │          6.9          3.1           5.1          2.3  Iris-virginica  4 ⋯
 143 │          5.8          2.7           5.1          1.9  Iris-virginica  3
 144 │          6.8          3.2           5.9          2.3  Iris-virginica  4
 145 │          6.7          3.3           5.7          2.5  Iris-virginica  4
 146 │          6.7          3.0           5.2          2.3  Iris-virginica  4 ⋯
 147 │          6.3          2.5           5.0          1.9  Iris-virginica  3
 148 │          6.5          3.0           5.2          2.0  Iris-virginica  4
 149 │          6.2          3.4           5.4          2.3  Iris-virginica  3
 150 │          5.9          3.0           5.1          1.8  Iris-virginica  3 ⋯
                                                   1 column and 129 rows omitted

In [15]:
x = DataFrame(ID=[1,2,3,4,5], name = ["Alice", "Bob", "Conor", "Dave","Zed"])

5×2 DataFrame
 Row │ ID     name
     │ Int64  String
─────┼───────────────
   1 │     1  Alice
   2 │     2  Bob
   3 │     3  Conor
   4 │     4  Dave
   5 │     5  Zed

In [16]:
y = DataFrame(id=[1,2,5,6,8], age=[21,22,23,24,99])

5×2 DataFrame
 Row │ id     age
     │ Int64  Int64
─────┼──────────────
   1 │     1     21
   2 │     2     22
   3 │     5     23
   4 │     6     24
   5 │     8     99

In [17]:
innerjoin(x, y, on=:ID=>:id)
# leftjoin, rightjoin, outerjoin work exactly how you'd expect

3×3 DataFrame
 Row │ ID     name    age
     │ Int64  String  Int64
─────┼──────────────────────
   1 │     1  Alice      21
   2 │     2  Bob        22
   3 │     5  Zed        23

In [18]:
# general syntax: filter(source => f::Function, df)

function isAlice(s)
    if s == "Alice"
        return true
    end
    return false
end
    
filter(:name => isAlice, x)

1×2 DataFrame
 Row │ ID     name
     │ Int64  String
─────┼───────────────
   1 │     1  Alice

In [19]:
# We can be fancy and do this in one line (not necessary)

filter(:name => (s -> s == "Alice"), x)

1×2 DataFrame
 Row │ ID     name
     │ Int64  String
─────┼───────────────
   1 │     1  Alice

In [20]:
z = DataFrame(
    name=["Dennis", "Dee", "Frank", "Charlie", "Mac", "Frank", "Dennis"], 
    favcolor=["blue", "red", "orange", "green", "violet", "orange", "periwinkle"],
)

7×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼─────────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet
   6 │ Frank    orange
   7 │ Dennis   periwinkle

In [21]:
unique(z)

6×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼─────────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet
   6 │ Dennis   periwinkle

In [22]:
unique(z, 1)

5×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼───────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet

In [23]:
unique(z, 2)

6×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼─────────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet
   6 │ Dennis   periwinkle

In [24]:
push!(z, ["Cricket", "red"])

8×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼─────────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet
   6 │ Frank    orange
   7 │ Dennis   periwinkle
   8 │ Cricket  red

In [27]:
mapslices((x -> push!(z, x)), [["Walt","white"] ["Jesse","pink"]], dims=2)

2×1 Matrix{DataFrame}:
 12×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼─────────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet
   6 │ Frank    orange
   7 │ Dennis   periwinkle
   8 │ Cricket  red
   9 │ Walt     white
  10 │ Jesse    pink
  11 │ Walt     Jesse
  12 │ white    pink
 12×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼─────────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet
   6 │ Frank    orange
   7 │ Dennis   periwinkle
   8 │ Cricket  red
   9 │ Walt     white
  10 │ Jesse    pink
  11 │ Walt     Jesse
  12 │ white    pink

In [28]:
z

12×2 DataFrame
 Row │ name     favcolor
     │ String   String
─────┼─────────────────────
   1 │ Dennis   blue
   2 │ Dee      red
   3 │ Frank    orange
   4 │ Charlie  green
   5 │ Mac      violet
   6 │ Frank    orange
   7 │ Dennis   periwinkle
   8 │ Cricket  red
   9 │ Walt     white
  10 │ Jesse    pink
  11 │ Walt     Jesse
  12 │ white    pink